@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.msg-box {
    background-color: #0c0c35;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
}

.input {
    flex: 1;
    margin: 0 .3rem 0 .5rem;
    border-radius: 1rem;
    padding: .4rem 1rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.btn {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .5rem;
    border-radius: 50%;
}

.btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}